:root {
  --casi-blanco: hsl(0, 0%, 99%);
  --casi-blanco90: hsl(0, 0%, 90%);
  --casi-blanco85: hsl(0, 0%, 85%);
  --casi-blanco65: hsl(0, 0%, 65%);

  --casi-negro: hsl(0, 0%, 5%);
  --gris40: hsl(0, 0%, 40%);
  /*antes gris-oscuro*/
  --gris-claro: hsl(0, 0%, 80%);
  --gris20: hsl(0, 0%, 20%);
  --gris15: hsl(0, 0%, 15%);
  --gris30: hsl(0, 0%, 30%);
  --fucsia1: hsl(323, 100%, 39%);

  --gris-medio: hsl(0, 0%, 50%);


  --image-back-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='536' height='536' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23e0e0e0' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23d8d8d8'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  --image-back-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='536' height='536' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23353535' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23353535'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

}


body[data-theme="light"] {
  --toolbar-hover: var(--casi-blanco65);
  --toolbar-item: var(--gris-claro);
  --body-background: var(--casi-blanco);
  --body-color: var(--casi-negro);

  --main-area-border: var(--gris-claro);
  --link_button-borde: var(--casi-negro);
  --boton-hover: var(--casi-blanco90);
  --boton-text-hover: var(--casi-negro);
  --footer-borde: var(--gris40);

  --invert-icon: 0;
  --invert-emoji: 1;

  --resaltado: var(--gris-claro);
  --resaltado-background: var(--fucsia1);

  --inicio-background: var(--gris-claro);
  --inicio-texto: var(--casi-negro);
  --inicio-filter: 1;

  --screenshot-shadow: var(--gris-claro);

  --proyecto-header: var(--gris-claro);

  --card-borde: var(--gris30);
  --card-boton-borde: var(--gris20);
  --card-tag-borde: var(--gris-medio);
  --invert-divider: 0.15;

  --image-back: var(--image-back-light);

}

body[data-theme="dark"] {

  --image-back: var(--image-back-dark);

  --toolbar-hover: var(--gris20);
  --toolbar-item: var(--gris20);

  --body-background: var(--casi-negro);
  --body-color: var(--casi-blanco85);

  --main-area-border: var(--gris20);
  --link_button-borde: var(--casi-blanco65);
  --boton-text-hover: var(--casi-blanco);
  --boton-hover: var(--gris15);

  --footer-borde: var(--gris40);
  --invert-icon: 80%;
  --invert-emoji: 0%;

  --resaltado: var(--gris20);
  --resaltado-background: var(--fucsia1);

  --inicio-background: var(--gris20);
  --inicio-texto: var(--casi-blanco85);
  --inicio-filter: 0;

  --screenshot-shadow: var(--casi-negro);
  --proyecto-header: var(--gris30);

  --card-borde: var(--casi-blanco65);
  --card-boton-borde: var(--casi-blanco65);
  --card-tag-borde: var(--gris-medio);

  --invert-divider: 50%;

}

@media (prefers-color-scheme: light) {
  body {
    --toolbar-hover: var(--casi-blanco65);
    --toolbar-item: var(--gris-claro);
    --body-background: var(--casi-blanco);
    --body-color: var(--casi-negro);

    --main-area-border: var(--gris-claro);
    --link_button-borde: var(--casi-negro);
    --boton-hover: var(--casi-blanco90);
    --boton-text-hover: var(--casi-negro);
    --footer-borde: var(--gris40);

    --invert-icon: 0;
    --invert-emoji: 1;

    --resaltado: var(--gris-claro);
    --resaltado-background: var(--fucsia1);

    --inicio-background: var(--gris-claro);
    --inicio-texto: var(--casi-negro);
    --inicio-filter: 1;

    --screenshot-shadow: var(--gris-claro);

    --proyecto-header: var(--gris-claro);

    --card-borde: var(--gris30);
    --card-boton-borde: var(--gris20);
    --card-tag-borde: var(--gris-medio);
    --invert-divider: 0.15;

    --image-back: var(--image-back-light);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --image-back: var(--image-back-dark);

    --toolbar-hover: var(--gris20);
    --toolbar-item: var(--gris20);

    --body-background: var(--casi-negro);
    --body-color: var(--casi-blanco85);

    --main-area-border: var(--gris20);
    --link_button-borde: var(--casi-blanco65);
    --boton-text-hover: var(--casi-blanco);
    --boton-hover: var(--gris15);

    --footer-borde: var(--gris40);
    --invert-icon: 80%;
    --invert-emoji: 0%;

    --resaltado: var(--gris20);
    --resaltado-background: var(--fucsia1);

    --inicio-background: var(--gris20);
    --inicio-texto: var(--casi-blanco85);
    --inicio-filter: 0;

    --screenshot-shadow: var(--casi-negro);
    --proyecto-header: var(--gris30);

    --card-borde: var(--casi-blanco65);
    --card-boton-borde: var(--casi-blanco65);
    --card-tag-borde: var(--gris-medio);

    --invert-divider: 50%;
  }

}