:root {
  --casi-blanco: hsl(0, 0%, 99%);
  --casi-blanco90: hsl(0, 0%, 90%);
  --casi-blanco85: hsl(0, 0%, 85%);
  --casi-blanco65: hsl(0, 0%, 65%);

  --casi-negro: hsl(0, 0%, 5%);
  --gris40: hsl(0, 0%, 40%);
  /*antes gris-oscuro*/
  --gris-claro: hsl(0, 0%, 80%);
  --gris20: hsl(0, 0%, 20%);
  --gris30: hsl(0, 0%, 30%);
  --fucsia1: hsl(323, 100%, 39%);
}

body[data-theme="light"] {
  --body-background: var(--casi-blanco);
  --body-color: var(--casi-negro);

  --main-area-border: var(--gris-claro);
  --link_button-borde: var(--casi-negro);
  --boton-hover: var(--casi-blanco90);
  --footer-borde: var(--gris40);

  --invert-icon: 0;
  --invert-emoji: 1;

  --resaltado: var(--gris-claro);
  --resaltado-background: var(--fucsia1);

  --inicio-background: var(--gris-claro);
  --inicio-texto: var(--casi-negro);
  --inicio-filter: 1;

  --screenshot-shadow: var(--gris-claro);

  --proyecto-header: var(--gris-claro);

  --card-borde: var(--gris30);
  --card-boton-borde: var(--gris20);

  --invert-divider: 0.15;
}

body[data-theme="dark"] {
  --body-background: var(--casi-negro);
  --body-color: var(--casi-blanco85);

  --main-area-border: var(--gris20);
  --link_button-borde: var(--casi-blanco65);
  --boton-hover: var(--gris20);

  --footer-borde: var(--gris40);
  --invert-icon: 80%;
  --invert-emoji: 0%;

  --resaltado: var(--gris20);
  --resaltado-background: var(--fucsia1);

  --inicio-background: var(--gris20);
  --inicio-texto: var(--casi-blanco85);
  --inicio-filter: 0;

  --screenshot-shadow: var(--casi-negro);
  --proyecto-header: var(--gris30);

  --card-borde: var(--casi-blanco65);
  --card-boton-borde: var(--casi-blanco65);

  --invert-divider: 50%;
  /* esto no funciona, el invert icon tampoco
  es decir no invierte menos porcentaje, invierte por completo */
}