.columns1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}

.emoji-link {
  font-size: 0.2rem !important;
  filter: grayscale(1);
}

.columns2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 4rem;
}



.header {
  border-top: 2px solid var(--proyecto-header);
  border-bottom: 2px solid var(--proyecto-header);
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  padding: 0px;
  letter-spacing: 1rem;
  line-height: 8rem;
  margin: 0.7rem 0rem 0.5rem 0rem;
  color: var(--proyecto-header);

}

.titulo {
  border: 2px solid var(--link_button-borde);
  box-shadow: 2px 2px 0px 0 var(--link_button-borde);
  padding: 0.2rem 2rem;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 700;
  /*   margin-left: -0.5rem;
  margin-right: -0.5rem; */

}

.w1000px {
  max-width: 1000px;

}

.proyecto__container {
  margin: 1rem 2rem 2rem 2rem;
}

.proyecto__container p {
  line-height: 2rem;
  font-size: 1.2rem;
}


.proyecto__container h3 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

.proyecto__container ul {
  list-style: disc;
}

.proyecto__container ul li {
  margin-left: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}


.screenshot__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  place-content: center;
}

.screenshot {
  /* en el dark mode no queda bien la sombra, probar otra cosa */
  box-shadow: 0px 0px 5px 1px var(--screenshot-shadow);
  border-radius: 5px;
}

.screenshot__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screenshot__caption {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem;
}

/*  .w700px {
  width: 700px;
}

.w100px {
  width: 300px;
}  */


.link_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link_icon img {
  height: 1.2rem;
  width: auto;
  filter: invert(var(--invert-icon));
}

.divider {
  display: grid;
  place-content: center;
  font-size: 2rem;
  font-weight: 700;

  filter: grayscale(1) brightness(0) invert(var(--invert-icon));

}


/* todo: así? o mejor
en el figcaption?
porque si hay que modificar
en media queries se complica */
.mt05 {
  margin-top: 0.5rem;
}

/* .proyecto a {
    text-decoration: dashed underline var(--footer-borde);
 
 
} */

@media only screen and (max-width: 768px) {
  .columns2 {
    grid-template-columns: 1fr;
  }

  /*   .titulo {
     word-wrap: break-word;
     max-width: 90vw;
     font-size: 1.5rem;
  } */


}

@media only screen and (max-width: 830px) {

  .header {
    font-size: 6rem;
    line-height: 7rem;
    letter-spacing: 0.5rem;
  }



}

@media only screen and (max-width: 620px) {

  .header {
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: 0.5rem;
  }

  /*  .proyecto__container {
    margin: 1rem 1.5rem 1.5rem 1.5rem;
  } */

}

@media only screen and (max-width: 550px) {

  .header {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.4rem;
  }



}

@media only screen and (max-width: 450px) {

  .header {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.4rem;
  }

  .proyecto__container {
    margin: 1rem 1rem 1rem 1rem;
  }

  .titulo {
    font-size: 1.8rem;
    word-wrap: break-word;
    padding: 0.2rem 1rem;
    text-align: center;
  }

}

@media only screen and (max-width: 415px) {

  .header {
    font-size: 2.5rem;
    line-height: 4rem;
    letter-spacing: 0.4rem;
  }

  /* todo: al cambiar el margen acá, tengo que 
  cambiar también el del titulo para que
  quede alineado */

  .proyecto__container {
    margin: 1rem 0.5rem 0.5rem 0.5rem;
  }


  .titulo {
    font-size: 1.5rem;
    word-wrap: break-word;
    padding: 0.2rem 1rem;
    text-align: center;
  }

}