.columns1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 1000px;
  gap: 2rem;
  font-size: 1.2rem;
}

.emoji-link {
  font-size: 0.2rem !important;
  filter: grayscale(1);
}

.columns2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  max-width: 1000px;
  gap: 4rem;
  font-size: 1.2rem;
}

.proyecto {
  max-width: 1000px;
}

.proyecto p {
  line-height: 2rem;
  font-size: 1.2rem;
}

.proyecto h1 {
  font-size: 2rem;
  font-weight: 700;
}

.proyecto h3 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.proyecto ul {
  list-style: disc;
}

.proyecto ul li {
  margin-left: 2rem;
  line-height: 2rem;
}

.screenshot__container {
  display: flex;
  place-content: center;
}
.screenshot {
  border: 2px solid var(--casi-negro);
  max-width: 700px; /* cambiar, hay que hacer otro distinto para screenshot peque  */
}

.link_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link_icon img {
  height: 1.2rem;
  width: auto;
  filter: invert(var(--invert-icon));
}

/* .proyecto a {
    text-decoration: dashed underline var(--footer-borde);
 
 
} */

@media only screen and (max-width: 768px) {
  .columns2 {
    grid-template-columns: 1fr;
  }
}
