@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}

body {
  display: grid;
  place-items: center;
  margin: 0.5rem;
  background-color: var(--body-background);
  color: var(--body-color);
}

/** grid on layout.js, contains navbar, main, and footer **/
.layout__grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "article"
    "footer";
  margin: 0.5rem 1rem;
}

/** container on page.js contains heading, main **/
.article__container {
  font-size: 1.2rem;
  font-family: var(--font-montserrat);
  font-weight: 500;
  line-height: 1.9rem;
  border: 2px solid var(--main-area-border);
  border-radius: 0px;
  box-shadow: 2px 2px 0px 0 var(--main-area-border);
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  padding: 3rem 6rem 3rem 4rem;
  max-width: 1000px;
}

.article__container p {
  margin-bottom: 0.6rem;
}

/*** heading ***/
.heading {
  font-size: 3rem;
  font-weight: 600;
  margin: 0rem 0rem 1.5rem 0rem;
  line-height: 3.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.heading:hover .heading__smile {
  color: var(--fucsia1);
}

.heading__smile {
  color: hsl(0, 0%, 40%);
}

/** main container inside article on page.js **/
.main-container {
  display: flex;
  flex-direction: row;
  margin: 1rem 0rem 0rem 0rem;
  gap: 3rem;
}

/*** content-links section ***/
.content-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-items: baseline;
  margin-top: 2rem;
}

/*** link buttons ***/
.link_button {
  border: 2px solid var(--link_button-borde);
  box-shadow: 2px 2px 0px 0 var(--link_button-borde);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  margin: 0.3rem 0.3rem 0.3rem 0rem;
  line-height: 1.5rem;
}

.link_button:hover {
  background-color: var(--boton-hover);
}

.link_button__icon {
  filter: invert(var(--invert-icon));
}

.link_button>div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/*** foto ***/
.foto-container {
  margin-top: 0.5rem;
}

.foto-container img {
  min-width: 200px;
}

/*** emojis ***/
.emoji {
  font-family: var(--font-montserrat);
  filter: drop-shadow(0px 1px 1px) grayscale(1) contrast(1.5) brightness(1);
  color: rgb(37, 37, 37);
  font-weight: 500;
}

/* cuando se pasa el mouse sobre el párrafo los emojis de
ese párrafo se ponen de color */
p:hover .emoji {
  filter: saturate(0.7) drop-shadow(0px 1px 1px);
}

/* todo:  este era para el telefono, revisar si es necesario 
porque creo que quedo reemplazado con lo que puse en las
mediqueries */
p:focus-visible .emoji {
  filter: saturate(0.7) drop-shadow(0px 1px 1px);
}

/*** resaltado ***/
.resaltado {
  background-color: var(--resaltado);
  border-radius: 5px;
  padding: 0rem 0.3rem;
  font-weight: 600;
}

p:hover .resaltado {
  background-color: var(--resaltado-background);
  color: white;
}

/** solo para teléfonos: pone los colores como animación **/
/** porque no es posible hacerlo con :hover **/
@media (hover: none) {
  .emoji {
    animation: colores 30s forwards;
  }

  @keyframes colores {
    0% {
      filter: saturate(0);
    }

    100% {
      filter: saturate(0.8);
    }
  }

  .resaltado {
    animation: resaltado 10s forwards;
  }

  @keyframes resaltado {
    0% {
      color: white;
      background-color: black;
    }

    100% {
      background-color: var(--resaltado-background);
      color: white;
    }
  }

  .heading__smile {
    animation: heading__smile 10s forwards;
  }

  @keyframes heading__smile {
    0% {}

    100% {
      color: var(--fucsia1);
    }
  }
}

/*** media queries pantallas/ventanas pequeñas ***/
@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  body {
    margin: 0.2rem;
  }

  .article__container {
    padding: 2rem;
  }

  .main-container {
    display: flex;
    flex-direction: column-reverse;
    place-items: center;
    margin-left: 0px;
    padding: 0rem;
    gap: 1.5rem;
  }

  .foto-container {
    margin-left: 0px;
  }

  .heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    line-height: 3rem;
    font-size: 3rem;
    margin: 0px;
  }

  .heading>.heading__title1 {
    margin: 0px;
  }

  .heading>.heading__title2 {
    margin-bottom: 0.2rem;
    font-size: 2.2rem;
  }
}