@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --casi-blanco: hsl(0, 0%, 99%);
  --casi-negro: hsl(0, 0%, 5%);
}
html,
body {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  margin: 1rem;
  /*   border: 1px solid blue;
 */
  /*   min-width: 250px;
 */
  background-color: var(--casi-blanco);
  color: var(--casi-negro);
}

.main__grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";

  min-height: calc(100vh - 4rem);

  /*   border: 1px solid red;
 */
  margin: 1rem;
}

.main-area {
  font-size: 1.2rem;
  font-family: var(--font-recursive);
  font-weight: 450;
  line-height: 2rem;

  border: 2px solid var(--casi-negro);
  border-radius: 0px;
  box-shadow: 2px 2px 0px 0;
  margin-bottom: 1rem;
  padding: 2rem;
}

.main-container {
  display: flex;
  flex-direction: row;
}
.foto-container img {
  min-width: 200px;
}
.foto-container {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
.main-area p,
.main-area h2 {
  margin-bottom: 0.8rem;
}
.navbar {
  grid-area: nav;
  justify-self: end;
  margin-bottom: 1rem;
  border-bottom: 1px dashed pink;

  font-size: 1rem;
  font-family: var(--font-montserrat);

  font-weight: 600;
}

.boton-encontrar {
  border: 2px solid var(--casi-negro);
  border-radius: 0px;
  box-shadow: 2px 2px 0px 0 var(--casi-negro);
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  margin: 0.3rem 0.3rem 0.3rem 0rem;
}
.boton-encontrar:hover {
  background-color: hsl(0, 0%, 90%);
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}
footer {
  font-family: var(--font-roboto-mono);

  font-size: 0.7rem;
  padding: 0.2rem;

  border: 1px dashed var(--casi-negro);
  display: grid;
  justify-content: center;
  place-self: center;
  width: 100%;
}

/* #foto1, #foto2 {
  opacity: 80%;
  transition: opacity 1.3s;
}

#foto1:hover, #foto2:hover {
  opacity: 100%;
} */

@media only screen and (max-width: 600px) {
  /* Styles */
  .main-container {
    display: flex;
    flex-direction: column-reverse;
    place-items: center;
  }
  .foto-container {
    margin-left: 0px;
  }
  /* TODO: ver si acá hay que cambiar la forma del menu */
}

/* Small devices (tablets) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Styles */
  /*   .main__grid {
  } */
  .main-container {
    display: flex;
    flex-direction: column-reverse;
    place-items: center;
    margin-left: 0px;
  }
  .foto-container {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .main__grid {
    max-width: 1000px;
  }
}

@media only screen and (min-width: 1680px) {
  .main__grid {
    max-width: 1000px;
  }
}
